<card class="card">
  <%= raw @content %>
  <controls class="controls">
    <%= unless @first_page? do %>
      <control phx-click="previous" phx-value-page="<%= @page_number%>" style="margin:50px" phx-window-keyup="key_previous">&larr;</control>
    <% end %>
    <%= unless @last_page? do %>
      <control phx-click="next" phx-value-page="<%= @page_number%>" style="margin:50px" phx-window-keyup="key_next">&rarr;</control>
    <% end %>
  </controls>
  <page><%= @page_number %></page>
</card>
